New-ADOrganizationalUnit -Name "blue7" -Path "DC=blue7,DC=local"
New-ADOrganizationalUnit -Name "Accounts" -Path "OU=blue7,DC=blue7,DC=local"
New-ADOrganizationalUnit -Name "Groups" -Path "OU=Accounts,OU=blue7,DC=blue7,DC=local"
New-ADOrganizationalUnit -Name "Computers" -Path "OU=blue7,DC=blue7,DC=local"
New-ADOrganizationalUnit -Name "Servers" -Path "OU=Computers,OU=blue7,DC=blue7,DC=local"
New-ADOrganizationalUnit -Name "Workstations" -Path "OU=Computers,OU=blue7,DC=blue7,DC=local"
